.auth-form {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    display: flex;
    gap: 1rem;
    flex-direction: column
}

.auth-form_title{
    font-size: 1.5rem;
    color: #1f2937;
    text-align: center;
    margin: 0;
}

.auth-form label {
    font-size: 0.9rem;
    color: #1f2937;
    display: block;
    margin-bottom: 0.25rem;
}

.auth-form input {
    width: 100%;
    padding: 0.5rem 0.7rem;
    border: 1px soild #e5e7eb;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 0.25rem;
}

.auth-form input:focus{
    outline: none;
    border-color: #2563eb;
}

.auth-form_submit {
    background-color: #2563eb;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
}

.auth-form_submit:hover {
    background-color: #1d4ed8;
    transition: 0.5s;
}

.auth-form_switch {
    background: none;
    border: none;
    color: #2563eb;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
}

.auth-form_switch:hover {
    background-color: #1d4ed8;
    color: #FFFFFF;
    transition: 0.5s;
}

.auth-form_back {
    background: none;
    border: none;
    color: #2563eb;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: left;
    padding: 0;
}

.auth-form_error{
    color: #EF4444;
    text-align: center;
}