.posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem;
    margin: 0 auto;
}

.post-card {
    background-color: #FFFFFF;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: left;
}

.post-card_category {
    font-weight: bold;
    color: #6b7280;
    margin-bottom: 0.5rem;
}

.post-card_title {
    color: #1f2937;
    margin-bottom: 0.5rem;
}

.post-card_lead {
    color: #4b5563;
    margin-bottom: 1rem;
}

.post-card_meta {
    color: #9ca4af;
    margin-bottom: 0.5rem;
}

.post-card_link {
    color: #2563eb;
    cursor: pointer;
}

.post-card_link:hover {
    font-weight: bold;
    transition: 0.2s;
}

@media (max-width: 768px){
    .posts-grid{
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}

.post-view {
  max-width: 700px;
  margin: 3rem auto;
  padding: 2rem;
  border: 1px solid #1f2937;
  border-radius: 10px;
  text-align: left;
}

.post-view_back {
  background: none;
  border: none;
  color: #2563EB;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0;
  margin-bottom: 2rem;
  display: block;
}

.post-view_back:hover {
  text-decoration: underline;
}

.post-view_title {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 0.25rem;
}

.post-view_lead {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #6B7280;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.post-view_content-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  color: #1F2937;
  margin-bottom: 0.5rem;
}

.post-view_content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #374151;
  line-height: 1.8;
}