.mobile-nav {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

@media (max-width: 768px) {
    .mobile-nav{
        display: flex;
    }
}

.mobile-nav_btn {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.mobile-nav_btn:hover {
    background-color: #9ca4af;
    transition: 1s;
}